# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
*.log

# Data
# data/raw_data/ (Included)
data/processed/
models/
outputs/

# IDE
.vscode/
.idea/

# Challenge specific
submissions/run_*/
*.zip
